# Python
venv/
__pycache__/
*.pyc

# Node.js
node_modules/
npm-debug.log
package-lock.json

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Build folders
dist/
build/